.homeSection {
    padding-top: 85vh;
    height: 100vh;
    width: 100%;
    background-image: url('../../assets/img/hotelanlage-unsplash.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}


/* ------style for motion scrollbar------ */
.progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 10px;
    background-color: #556B2F;
    transform-origin: 0%;
    z-index: 2;
}