/* .homeSection {
    padding-bottom: 10vh;
} */

.homeArticle {
    height: 90vh;
    width: 100%;
    background-image: url('../../assets/img/hotelanlage-unsplash.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}