.description {
    margin-top: 20vh;
    display: flex;
    font-family: JosefineSans;
}

.descriptionHeading {
    color: #A24352;
    font-size: 2.3rem;
}

.descriptionTextBoxGoogleMaps {
    display: flex;
}

.descriptionTextParagraph {
    width: 70%;
    margin-bottom: 2%;
    color: rgb(88, 88, 88);
    line-height: 25px;
}

.descriptionTextSpan {
    font-size: 1.7rem;
}

