.headerSection {
    width: 100%;
    height: 15vh;
    background-color: #E2DAD7;
    box-shadow: 5px 5px 10px #4E483E;
    display: flex;
    align-items: center;
    position: fixed;
}

.headerBox {
    width: 70%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerHeading {
    font-size: 2rem;
    font-family: JosefineSans;
}
span {
    font-size: 2.5rem;
    font-family: Great Vibes;
    color: #A24352;
}

nav {
    width: 23vw;
    display: flex;
    justify-content: space-between;
}

.headerLink {
    color: black;
    font-size: 1.3rem;
    text-decoration: none;
}

.headerLink:hover {
    text-decoration: underline;
    color: #A24352;
}