.roomsSection {
    width: 70%;
    margin: 0 auto 30vh auto;
}

.roomsDivForLink {
    height: 17vh;
}

/* anchor point for rooms component */
.roomsHeading {
    color: #A24352;
    font-size: 2.3rem;
}

.roomsHeadingSlider {
    font-size: 1.7rem;
    width: 22vw;
    margin: 0 auto 4vh auto;
    font-family: JosefineSans;
    /* text-align: center;      responsive*/
}

.roomsHeadingSlider span {
    font-size: 2.3rem;
    margin-right: 1%;
    /* display: block;     responsive*/
}