.footerSection {
    height: 10vh;
    width: 100%;
    background-color: #4E483E;
    display: flex;
    align-items: center;
    /* position: fixed;
    bottom: 0px; */
    /* left: 0px;
    right: 0px; */
}

.footerBox {
    width: 60%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footerText {
    /* width: 67%; */
    margin: 0 auto;
    font-family: JosefineSans;
    font-size: 1.5rem;
    color: white;
    text-align: center;
}

.footerSpan {
    font-size: 2rem;
}

.footerImg {
    width: 6%;
}