.footerSection {
    background-color: #4E483E;
    color: white;
    padding: 2% 0 4% 0;
    font-family: JosefineSans;
}

.footerBox {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.footerSmallBox p {
    line-height: 25px;
}

.footerHeading {
    text-decoration: underline;
    margin-bottom: 5%;
    font-size: 1.2rem;
}

.footerSpan {
    font-size: 1.7rem;
}

.footerSmallBox p:nth-of-type(2) {
    margin-top: 5%;
}

.socialIcons {
    width: 30px;
    margin-right: 2%;
}

/* -----IconsBox in Footer---- */
.socialContact {
    display: flex;
    flex-direction: column;
    gap: 20px;
}