.certificationSection {
    width: 70%;
    margin: 0 auto 30vh auto;
    font-family: JosefineSans;
    color: #777777;
}

.certificationHeading {
    color: #A24352;
    font-size: 2.3rem;
}

.justALine {
    background-color: #747474;
    height: 1px;
    margin-bottom: 10vh;
}

.certificationsBoxes {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.certification {
    width: 30%;
    display: flex;
    align-items: center;
}

.certificationUl {
    width: 60%;
}

.certificationLi {
    margin-bottom: 3%;
}

/* 
==============================
Styling for Icons
============================== 
*/

.World {
    width: 100px;
    height: 100px;
    margin-right: 10%;
}

.Premium {
    width: 80px;
    height: 80px;
    margin-right: 10%;
}

.Check {
    width: 80px;
    height: 80px;
    margin-right: 10%;
    margin-top: 20px;
}

