* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #ffffff;
}

@font-face {
	font-family: Great Vibes;
	src: url('../src/assets/fonts/GreatVibes-Regular.ttf');
}

@font-face {
	font-family: JosefineSans;
	src: url('../src/assets/fonts/JosefinSans-VariableFont_wght.ttf');
}

@font-face {
	font-family: JosefineItalic;
	src: url('../src/assets/fonts/JosefinSans-Italic.ttf');
}

/* -------for all components------ */
.Section {
	width: 70vw;
	margin: 15vh auto;
}

.justALine {
    background-color: #747474;
    height: 1px;
    margin-bottom: 10vh;
}






 /* * {
	outline: 1px solid #f00 !important;
} */